@import url(
    'https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600&display=swap'
);

/* CSS HEX */
$lion: #C08C5Aff;
$lion--active: rgb(234, 130, 32);
$lawn-green: #96EA56ff;
$lawn-green-active: rgb(111, 246, 7);
$nyanza: #EFFEDBff;
$hunter-green: #3E6331ff;
$bistre: #382216ff;    