/* Buttons */
.toggleFormBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24.68rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: $nyanza;
    background-color: $lion;
}
.btn {
    padding: 0.5rem;
    width: 100%; 
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;  
    font-size: 1.2rem;
    background-color: $lawn-green;
    color: $bistre;
    font-weight: 100;
}
.toggleFormBtn:hover {
    background-color: $lion--active;
}
.btn:hover {
    background-color: $lawn-green-active;
}
.toggleFormBtn:hover, .btn:hover {
    cursor: pointer;
    transition: background-color 0.2s;
}
.toggleBtnImg {
    width: 4rem;
}