@import "base";

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* body, header, main, aside */
body {
    color: var(--bistre);
    font-family: 'Jura', sans-serif;
    letter-spacing: 0.125em;
    padding-top: 1.5rem;
}