@import "base";
@import "header";
@import "form";
@import "buttons";

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* body, header, main, aside */
body {
    color: $bistre;
    font-family: 'Jura', sans-serif;
    letter-spacing: 0.125em;
    padding-top: 1.5rem;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}